@use '../variables' as *;
// ============================
//     Badge css start
// ============================

.badge {
  @each $color, $value in $theme-colors {
    &.bg-light-#{$color} {
      background: theme-shift-color($value, $soft-bg-level);
      color: $value;
      border-color: theme-shift-color($value, $soft-bg-level);
    }
    &.bg-light-#{$color} {
      background: theme-shift-color($value, $soft-bg-level);
      color: $value;
    }
  }
}
